@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.landingShadow {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
}

.gradient {
  background: linear-gradient(90deg, #64C2DB 13.89%, #7476ED 36.94%, #C994DF 59.2%, #E56F8C 88.89%);
}

.landing-bg {
  background-image: url(../landingbackground.png);
  background-position: center;
  background-size: cover;
}

.darken:after {
  content: '\A';
  position: absolute;
  width: 100%; 
  height:100%;
  top:0; 
  left:0;
  background:rgba(0,0,0,0.5);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.imageOutline:hover {
  border-image: linear-gradient(#64C2DB, #C994DF, #E56F8C, #7476ED) 30;
  border-width: 2px;
  border-style: solid;
}

.templateColor {
  border-image-slice: 1;
  border-radius: 50%;
  border-color: blue;
}

.chosenTemplate {
  transform: scale(0.58);
  transform-origin: center;
}

.blur-load {
  background-position: center;
  background-size: cover;
}

.blur-load.loaded > img {
  opacity: 1;
}

.blur-load > img {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.selected {
  border-image: linear-gradient(#64C2DB, #C994DF, #E56F8C, #7476ED) 30;
  border-width: 2px;
  border-style: solid;
}

.loader {
  border: 4px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 4px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
}

.loader {
  border: 4px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
